<!DOCTYPE html>
<html lang="en">
<head>
  <!--
   
  -->
 <title>10</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/static/css/styles.css" rel="stylesheet" media="screen">
 <link href="/static/css/print.css" rel="stylesheet" media="print"> 

<body>
<div id="wrapper">
  <header>
    <h1>Twitter Data Analysis</h1>
  </header>
  <nav>
    <ul>
     <li><a href="http://127.0.0.1:5000/">Query1</a></li>
     <li><a href="http://127.0.0.1:5000/query2">Query2</a></li>
     <li><a href="http://127.0.0.1:5000/query3">Query3</a></li>
     <li><a href="http://127.0.0.1:5000/query4">Query4</a></li>
     <li><a href="http://127.0.0.1:5000/query5">Query5</a></li>
     <li><a href="http://127.0.0.1:5000/query6">Query6</a></li>
     <li><a href="http://127.0.0.1:5000/query7">Query7</a></li>
     <li><a href="http://127.0.0.1:5000/query8">Query8</a></li>
     <li><a href="http://127.0.0.1:5000/query9">Query9</a></li>
     <li><a href="http://127.0.0.1:5000/query10">Query10</a></li>    
	</ul>
   </nav>
<main>
	<!--<h2>The Internet of Things</h2> -->
    <div id="query10">
    
     <img src="{{ url_for('static', filename='images/query10p.png' ) }}" alt="Techylabs" width="700" height="600" >

     </div>
	
	<div>
		<ul class="bottomNav">
		  <li><a href="#top">Back to top</a></li>
	    </ul>
	</div>	
   </main>
   <footer>Copyright &copy; 2019 Mehmet ACIKGOZ</footer>
</div>
</body>
</html>